/* DashboardComponent's private CSS styles */

  .dashboard {
    padding: 10px 20px; 
    margin: 10;  
  }
    
  a {
    text-decoration: none;
  }

  /* *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */

  h1 {
    color:  rgb(123, 110, 110);
    text-align: center; margin-bottom: 0;
  }

  h4 {
    position: relative;
  }

  .module {
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
    color:#eee;
    max-height: 120px;
    min-width: 120px;
    max-width: 500px;
    background-color: rgb(194,165,67);
    border-radius: 10px;
  }

  .module:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    color: rgb(194,165,67);
  }
